<section class="profile_container">
  <div class="avatar">
    <img src="../../assets/profileMe.jpg" alt="">
  </div>
<form #form="ngForm" (ngSubmit)="setUserProfile(profile)">
  <p>Use the form below to update your profile.</p>
  <label for="">Name</label>
  <input type="text" name="name" [(ngModel)]="profile.name">
  <label for="">Contact</label>
  <input type="text" name="contact" [(ngModel)]="profile.contactInfo">
  <label for="">Bio</label>
  <textarea class="bio" type="text" name="bio" rows="4" [(ngModel)]="profile.bio"></textarea>
  <button>Update</button>
</form>
</section>