<!-- <div class="profile_container" *ngFor="let user of profile">
    <img class="avatar" src="../assets/profileMe.jpg" alt="profile picture">
    <p class="name">{{user.name }}</p>
    <p class="contact">{{ user.contactInfo }}</p>
    <p class="bio">{{ user.bio }}</p>
    <button (click)="editProfile()">Edit</button>
  </div> -->
  <!-- novalidate #form="ngForm" (ngSubmit)="saveProfile(userProfile)" -->

<form novalidate #form="ngForm" (ngSubmit)="saveProfile(profile)" class="profile_container">
  <p class="instructions">
    Use the form below to update your profile.
  </p>
  <label for="name">Name</label>
  <input type="text" name="newName" placeholder="{{profile.name}}" [(ngModel)]>
  <label for="contact">Contact</label>
  <input type="text" name="newName" placeholder="{{profile.contactInfo}}" [(ngModel)]>
  <label for="bio">Bio</label>
  <input type="text" name="newName" placeholder="{{profile.bio}}" [(ngModel)]>
  <button>Update</button>
</form>
