.profile_container {
  width: 400px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
}
.avatar {
  background-color: #1ECEFD;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.name, .contact, .bio {
  margin-left: 10px;
}
.name {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0;
}
.contact {
  color: #eee;
  margin-top: 0;
  font-weight: 600;
}
input, textarea {
  width: 80%;
  border-radius: 15px;
  padding: 14px;
}
label {
  color: #1ECEFD;
}
label, input, textarea {
  margin-left: 15px;
}
.instructions {
  margin-left: 15px;
}
button {
  background-color: #505355;
  color: #eee;
  border-radius: 15px;
  width: 90%;
  padding: 14px;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
}
button:hover {
  color: #5BECD8;
}